body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, serif;
    background-color: rgb(255, 255, 255);
}


  .col-md-4 > img {
    width: 420px;
  
  }

  .col-md-4 img {
    height: 310px;
    align-content: center;

border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;

  }
.row {
    border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.col-md-4 {
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, serif;
    font-size: 20px;
    text-align: center;
}


.col-md-6 {
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, serif;
    font-size: 20px;
    text-align: center;
}

.col-md-6 img {
    height: 310px;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
}

.hero-text {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  , serif;
   color: rgb(0, 0, 0);
   text-align: center;
   padding: 10px;
   font-size: 150px;
  }

.hero-text h1 {
   font-size: 100px;
   margin: 0;
   font-weight: bold;
}

h1 {
    text-align: center;
    margin-top: 20px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  , serif;
   color: rgb(0, 0, 0);
   font-size: 40px;
}
p {
    text-align: center;
    margin-top: 20px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  , serif;
   color: rgb(0, 0, 0);
   font-size: 15px;
}