body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
    margin: 0;
    padding: 0;
    color: #333;
}


.img-fluid {
    width: 100%;
    height: 310px; 
    object-fit: cover; 
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.hero-text {
   text-align: center;
   padding: 80px 20px;
   background-color: #f8f9fa; 
}

.hero-text h1 {
  
   font-size: clamp(45px, 10vw, 100px); 
   margin: 0;
   font-weight: bold;
   text-transform: uppercase;
}


h1 {
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
}

h3 {
    font-family: 'Gill Sans', sans-serif;
    font-weight: 600;
}

p {
    text-align: center;
    max-width: 900px; 
    margin: 20px auto;
    padding: 0 15px; 
    font-size: 1.15rem;
    line-height: 1.6;
}


.row {
    border: none;
}

