body {
    background-image: url("OB\ campus.jpg") ;
    background-position: repeat;
}

.container{
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    margin-top: 20px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  , serif;
   color: rgb(0, 0, 0);
   font-size: 40px;
}
